

<!-- code chatbot-->
<div id="visualizer-container" width="250" height="200">
    <canvas id="output" ></canvas>
    <h2 id="word-preview"></h2>
    <h3 id="search-result"></h3>
    


  <div id="helpdesk">
    <a class="box" id="helpdesk-popup-button" (click)="openSupportPopup()"><img  src="../../assets/img/robot.png" alt="chat icon" style="width:33px;height:33px;"></a>
  
  
  <div id="helpdesk-popup" [style.display]="isOpen ? 'block' : 'none'">
  
    <div>
    <div id="helpdesk-popup-header">
      
        Let’s chat? - We're online
  
      <a id="helpdesk-popup-close-button"icon (click)="openSupportPopup()" ><img src="../../assets/img/power-off.png" alt="End Chatl" style="width:22px;height:22px;color: stroke=#bc32ef"></a>
      
    </div>
  
  </div>
    <div id="helpdesk-popup-body">
      <div class="messages" #scrollMe>
        <div *ngFor="let message of messages" class="message">
            <div [class]="message.type">
                {{ message.message }}
                <a id="helpdesk-popup-close-button" (click)="openSupportPopup()"   [style.color]="toggle ? 'grees' : 'red' " >
                  <img  class ="view" src="../../assets/img/thumb_up.png" alt="End Chat" style="width:15px;height:15px;color: stroke=#bc32ef  ">
                </a>
                <a id="helpdesk-popup-close-button" (click)="openSupportPopup()"     [style.color]="toggle ? 'grees' : 'red' " > 
                  <img  class ="view"  src="../../assets/img/thumb_down.png" alt="End Chat" style="width:15px;height:15px;color: stroke=#bc32ef">
                </a>
                <span class="likes" >{{ message.likes }}</span>
                <span class="dislikes">{{ message.dislikes }}</span>
              </div>
          </div>
        <div
          *ngIf="loading"
          class="message"
          style="width: 100%; display: block"
        >
          <div [class]="'client'">...</div>
        </div>
      </div>
    </div>
    
    <form id="helpdesk-popup-footer" [formGroup]="chatForm" >
    <div class="chat-input hide">
      <input 
        formControlName="message"
        type="text"
        id="helpdesk-popup-input"
        placeholder="Type your message here..."
        [value]="service.text"
  
      >
      
      <button type="submit" 
    id="helpdesk-popup-submit-button"
    [disabled]="!chatForm.valid"
    (click)=" sendMessage();"
  >Send Message and Stop Voice Note
    
      <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
      <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
    </svg>
  </button>
  
  <button type="submit" id="chatty"  style="margin: 10px;" (click)="listen()">{{ isListening ? 'Stop listening' : 'Start listening' }} >
    <svg  id="icon-button"   [style.color]="toggle ? 'grees' : 'red'  " (click)="enableDisableRule()" 
     xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic" viewBox="0 0 16 16">
      <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
      <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"/>
    
    </svg> {{status}}</button>
  
  </div>
  </form>
  </div></div>
  
