@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

#helpdesk {
  font-family: "Roboto", sans-serif;

#helpdesk-popup-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-image: linear-gradient(to right, #673ab7, #813bcb, #9e38de, #bc32ef, #dc22ff);
    z-index: 9999;
    border-radius: 30px;
    box-shadow: 0px 10px 15px rgba(218, 13, 13, 0.1);
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    
    transition: all 0.5s ease;
  }
  
  
#helpdesk-popup {

    position: fixed;
    bottom: 78px;
    right: 20px;
    width: 300px;
    height: 50vh;
    min-height: 450px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    z-index: 1000;
    display: none;
    z-index: 9999;
    box-sizing: border-box;
    
#helpdesk-popup-header {
      background-image: linear-gradient(to right, #673ab7, #813bcb, #9e38de, #bc32ef, #dc22ff);
      color: white;
      font-size: 18px;
      padding: 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

#helpdesk-popup-close-button {
        float: right;
        border: none;
        background-color: transparent;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
      }
    }

#helpdesk-popup-body {
      height: calc(100% - 133px);
      padding: 10px;
    }

#helpdesk-popup-footer {
     border-color: #f9dcff;
      color: white;
      font-size: 44px;
      padding: 10px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
  
#helpdesk-popup-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 5px 5px 0 0;
        box-sizing: border-box;
        font-size: 14px;
      }

#helpdesk-popup-submit-button {
        padding: 1px;
        border: none;
        border-radius: 0 ;
        cursor: pointer;
        font-size: 0px;
        width: 31px;
        white-space: nowrap;
        position: absolute;
         z-index: 1;
        top: 400px;
        right: 35px;
        text-align: right;
        color: #7a7a7a;
         }
      }
    }

.messages {
      height: 100%;
      overflow: auto;
.message {
        display: flow-root;
        width: 100%;
        
.message {
            background-color: #fff;
            border: 1px solid #e5e5ea;
            border-radius: 0.25rem;
            display: flex;
            flex-direction: column;
            font-family: "SanFrancisco";
            font-size: 1.25rem;
            margin: 0 auto 1rem;
            max-width: 600px;
            padding: 0.5rem 1.5rem;
          }
          
.message p {
            border-radius: 1.15rem;
            line-height: 1.25;
            max-width: 75%;
            padding: 0.5rem .875rem;
            position: relative;
            word-wrap: break-word;
          }
          
          .message p::before,
          .message p::after {
            bottom: -0.1rem;
            content: "";
            height: 1rem;
            position: absolute;
          }
        .client {
          background-color: #cecbcb;
          color: bc32ef(26, 21, 21);
          padding: 10px;
          border-radius: 5px;
          margin-bottom: 10px;
          display: inline-block;
          max-width: 80%;
            border-bottom-right-radius: 0.8rem 0.7rem;
            
             left: -0.35rem;
             transform: translate(0, -0.1rem);
        }
     
        .user {
          border: 0.5px solid 248bf5hsl(192, 56%, 36%);
          background-image: linear-gradient(to right, #673ab7, #813bcb, #9e38de, #bc32ef, #dc22ff);
          color: #fff;
          padding: 10px;
          border-radius: 5px;
          margin-bottom: 10px;
          display: inline-block;
          max-width: 80%;
          text-align: right;
          float: right;
        
        }
      }
    }
  }

.box {
  border-style: solid;
  border-width: 1px;
  display: block;
  width: 100px;
  height: 100px;
  
  transition: width 10s, height 10s, background-color 2s, transform 2s;
}

.box:hover {

  width: 200px;
  height: 200px;
  transform: rotate(360deg);
 
}
 .chat-input input {
 
  width: 100%;
  background: #ffffff;
  padding: 15px 70px 15px 15px;
  border-radius: 0 0 15px 15px;
  resize: none;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #f8f8f8;
  color: #000000;
  font-weight: normal;
  font-size: 13px;
  transition: border-color 0.5s ease;
}
.helpdesk-popup-button{

    color: #7a7a7a;
}


#chatty{
  padding: 1px;
  border: none;
  border-radius: 0 ;
  cursor: pointer;
  font-size: 0px;
  width: 31px;
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  top: 410px;
  right: 55px;
  text-align: right;
  
  background-color: #fff;
}
.grees {
  background-color: rgb(3, 17, 3);
}

.red {
  background-color: rgb(238, 223, 12);
}

view{
  width: 50px; height: 5px;;
}