
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,500&family=Inter:wght@500&display=swap"
  rel="stylesheet">
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<div class="all">
  <div class="color">
    <div class="color1"></div>
    <div class="color2"></div>
    <div class="color3"></div>
    <div class="color4"></div>
    <div class="color5"></div>
    <div class="color7"></div>
  </div>
</div>
<section class="home" id="home">
  <app-navbar></app-navbar>
<div class="pos1">
  <div class="rectangle"></div>

  <br>
  <div class="pos">
    <p class="text1">
      Elgazala <br> Innovation Center
    </p>
  </div>
  <p class="text2">Learn, buy and trade art pieces of your favorite artist around the world by using crypto currencies.
  </p>
</div>

<img src="../../assets/img/home1.png" alt="img1" class="image">

<div>
  <div class="rectangle2"></div>
  <p class="text3">What is Elgazala Innovation Center ?</p>
  <p class="text4">Notre société a pour secteur d'activité (préciser le secteur) fondédepuis (préciser la date). Nous avons pour domained'expertise (préciser vos principales offres : conseil financier,rénovation, restauration, …) avec une équipe de spécialistesde (nombre) personnes.</p>
  <img src="../../assets/img/Screenshot_2.png" alt="img2" class="image1">
</div>

<div class="mAA2" >
  <div class="rectangle3"></div>
  <div class="text5">Our Mission</div>
  <div class="container">
    <div class="cardh">
      <div class="face face1">
        <div class="content">
           <div class="imag">
             <img src="../../assets/img/logo1.png">
           </div>
             <h3>Management de l'Innovation</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p> Notre système de Management de l'Innovation vise à mettre en place des techniques et dispositifs de gestion susceptibles de créer les conditions les plus favorables au développement de projets innovants.<br> La démarche consiste à : identifier et récolter des idées, transformer les idées en projets, valider la faisabilité pour valider le concept,
           développer le concept en solution efficiente et déployer la solution pour créer de la valeur.</p>
          <a href="#" type="button">Read More</a>
        </div>
      </div>
   </div>

   <div class="cardh">
      <div class="face face1">
        <div class="content">
         <div class="imag">
           <img src="../../assets/img/logo2.png">
         </div>
           <h3>Accompagnement entrepreneurial</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Notre parcours de pré-incubation dure six mois, pendant lequel nous fournissons les connaissances et les compétences entrepreneuriales et l’assistance technique nécessaires pour le développement du potentiel entrepreneurial de nos entrepreneurs sélectionnés.</p>
          <a href="#" type="button">Read More</a>
        </div>
      </div>
   </div>
   <div class="cardh">
      <div class="face face1">
        <div class="content">
         <div class="imag">
           <img src="../../assets/img/logo3.png">
         </div>
           <h3>Assistance technique</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Notre assistance consiste en l’évaluation et la validation technologique du protoype; le conseil sur des aspects techniques et la mise à disposition de composants électroniques et moyens d'expérimentation.  </p>
          <a href="#" type="button">Read More</a>
        </div>
      </div>
   </div>
 </div>
</div>
<div class="color8">
  <p class="text6">Architectural plan</p>
  <div class="arc">
    <img src="../../assets/img/Architec.svg"  height="400px">
  </div>
  <div class="circleBase circle1"></div><div class="tt">Lab</div>
  <div class="circleBase circle2"></div><div class="ttt">Co-working
    space</div>
</div>

<div class="act">
  <p class="text7">
    Actualities
  </p>
  <div class="container">
  <div class="carousel">
    <div class="slider1">
        <section>
          <img  src="../../assets/img/condi1.png">
          <p class="p">Call for applications</p>
          <p class="p2">
            Lorem ipsum dolor sit amet. Et illum nobis eum ipsam pariatur At voluptates distinctio ea eligendi autem sit eveniet assumenda vel voluptatibus quae et sunt aspernatur.
          </p>
        </section>
        <section>Slide 2</section>
        <section>
          <img  src="../../assets/img/condi1.png">
          <p class="p">Call for applications</p>
          <p class="p2">
            Lorem ipsum dolor sit amet. Et illum nobis eum ipsam pariatur At voluptates distinctio ea eligendi autem sit eveniet assumenda vel voluptatibus quae et sunt aspernatur.
          </p>
        </section>
        <section>Slide 4</section>
    </div>
    <div class="controls" >
        <span class="arrow left">
            <span class="material-icons">arrow_back_ios</span>
        </span>
        <span class="arrow right">
            <span class="material-icons">arrow_forward_ios</span>
        </span>
        <ul>
            <li class="selected"> </li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
</div>
</div>

<p class="text10">Last Events</p>
<div class="events">

  <div class="event">
    <h2 class="p">BOOT CAMP 1.0</h2>
    <p class="p2">Lorem ipsum dolor sit amet. Et illum nobis eum ipsam pariatur At voluptates distinctio ea eligendi autem sit eveniet assumenda vel voluptatibus quae et sunt aspernatur.</p>
    <img src="../../assets/img/Frame1.png">
  </div>
  <div class="event1">
    <h2 class="p">ESSAI ENTREPRISES OPEN DOORS 4.0</h2>
    <p class="p2">Lorem ipsum dolor sit amet. Et illum nobis eum ipsam pariatur At voluptates distinctio ea eligendi autem sit eveniet assumenda vel voluptatibus quae et sunt aspernatur.</p>
    <img src="../../assets/img/312616215_491070636378611_569580711123836687_n 1.png">
  </div>
</div>

</section>


<app-chatbot-ai></app-chatbot-ai>
